[Unit]
Description=Readiness gate for socket-activated service on port %i
Requires=systemd-gig-container@%i.service
After=systemd-gig-container@%i.service
BindsTo=systemd-gig@%i.service systemd-gig-container@%i.service
Before=systemd-gig@%i.service
StopWhenUnneeded=true

[Service]
Type=oneshot
RemainAfterExit=true
TimeoutStartSec=300
EnvironmentFile=%E/systemd-containers/gig/%i.conf
ExecStart=/usr/bin/systemd-gig wait-online ${TARGET_PORT}
