[Unit]
Description=Runs a socket-activated service and stops it after a while
After=network-online.target
PartOf=systemd-gig@%i.service
StopWhenUnneeded=true
BindsTo=systemd-gig@%i.service
Before=systemd-gig@%i.service

[Service]
Type=simple
RemainAfterExit=true
EnvironmentFile=%E/systemd-containers/gig/%i.conf
ExecStart=/usr/bin/systemd-gig start %i
ExecStartPost=/usr/bin/systemd-gig wait-online ${TARGET_PORT}
ExecStop=/usr/bin/systemd-gig stop %i
